/* .user-form-control {
  margin: 0.5rem;
} */
/* .user-form-control label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}
.user-form-control input {
  display: block;
  margin-bottom: 0.5rem;
} */
